sudo: false
language: node_js
node_js: node
notifications:
  email: false
before_install: npm i -g npm
before_script:
  - npm prune
script:
  - npm run test:single
  - npm run coverage
after_success:
  - npm run semantic-release
  - npm run report-coverage
